In [1]:
import math
n=int(input())
print(math.sqrt(n))

25
5.0

In [2]:

a=int(input("enter 1st num"))
b=int(input("enter 2nd num"))
c=a
a=b
b=c
print(a)
print(b)

enter 1st num3
enter 2nd num4
4
3

In [3]:
n=int(input())
if(n>=0):
 print("num is positive")
else:
 print("num is negative")

5
num is positive

In [4]:
n=int(input())
if(n%2==0):
 print("num is even")
else:
 print("num is odd")

3
num is odd

In [5]:
import math
n=int(input())
print(math.factorial(n))

5
120

In [6]:
n=input()
if(n==n[::-1]):
  print("palindrome")
else:
  print("not palindrome")

123123
not palindrome

In [7]:
import pandas as pd
data={ "Name":["sai", "priya","sinchana"],
      "Age":[20,25,27],
       "city":["bgl","hyd","chennai"]}
df=pd.DataFrame(data)
print(df)

       Name  Age     city
0       sai   20      bgl
1     priya   25      hyd
2  sinchana   27  chennai

In [8]:
df["Age"]

0    20
1    25
2    27
Name: Age, dtype: int64

In [9]:
df[df["Age"]>25]

       Name  Age     city
2  sinchana   27  chennai

In [10]:
# 3-input AND gate implementation

def AND_gate_3(a, b, c):
    return a and b and c  # Logical AND for three inputs

# Test the AND gate
inputs = [
    (0, 0, 0),
    (0, 0, 1),
    (0, 1, 0),
    (0, 1, 1),
    (1, 0, 0),
    (1, 0, 1),
    (1, 1, 0),
    (1, 1, 1)
]

print("A B C | Output")
print("---------------")
for a, b, c in inputs:
    print(f"{a} {b} {c} | {int(AND_gate_3(a, b, c))}")

A B C | Output
---------------
0 0 0 | 0
0 0 1 | 0
0 1 0 | 0
0 1 1 | 0
1 0 0 | 0
1 0 1 | 0
1 1 0 | 0
1 1 1 | 1